dl.dl-horizontal
  dt Skillset
  dd Strength
  dt Objective
  dd Alternate left - right arrow on your keyboard to climb the wall. Be the first one to reach the top
  dt Duration
  dd 5 minute
  dt Warning
  dd Wrong steps would make you fall to the bottom