dl.dl-horizontal
	dt Skillset
	dd Dexterity
	dt Objective
	dd Can you time 10secs perfectly? Start and stop a timer to time 10secs. Best trial will be kept
	dt Duration
	dd 3 minutes of trials
	dt Warning
	dd Only attempts below 10secs are kept