extends layout

block content
	h1 About
	row
	.col-sm-offset-3.col-sm-6
		ul.list-group
			li This game-site has been made in a week by Francois Regnoult
			li Back end is using Mongo, Node.js (express, passport, socket.io, passport.io, and many more)
			li Front end is using Jquery and Bootstrap
			li Javascript is great
			li Sources will be released at the end of the week
		