extends layout

block content
	#csrf(style="display:none;" value=_csrf)
	h1 Admin Page
	hr
	.row
		.col-sm-2
			button.btn.btn-default.admin_action(type="button", key="refresh") Reload IO
		.col-sm-2
			button.btn.btn-default.admin_action(type="button", key="next") Next State
		.col-sm-2
			button.btn.btn-default.admin_action(type="button", key="scoreboard") Scoreboard refresh
		.col-sm-2
			button.btn.btn-warning.admin_action(type="button", key="drop") Drop all actions and Score




block scripts
	script(src='/js/lib/jquery.cookie.js')
	script(src='/js/myadmin.js')
