html
  head
    title What are you looking at?
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="favicon.ico")
  body
    div
      .tcw(data-id='Countdown-52984', style='position: relative; display: inline-block; margin: 0 auto; width: 100%')
        a(href='//www.tickcounter.com/countdown/52984/ready', title='Ready?') Ready?
        a(href='//www.tickcounter.com/', title='Countdown') Countdown
      style.
        .tcw:after {
        content: "";
        display: block;
        margin-top: 25%;
        }
        body {
            background-color: black;
        }
      script.
        (function(d, s, id) {
        var js, pjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//www.tickcounter.com/static/js/loader.js";
        pjs.parentNode.insertBefore(js, pjs);
        }(document, "script", "tickcounter-sdk"));
