extends layout

block content
	h1 Geneity's games 2017
	p.lead Bienvenue!
	hr
	.row
		.col-sm-12
			h2 Are you a winner?
		.col-sm-6
			h2 Rules
			p Learn what it takes to be the winner
			p
				a.btn.btn-default(href='/rules', role='button') View details »
		.col-sm-6
			h2 Battle
			p Competition is here, are you ready?
			p
				a.btn.btn-default(href='/competition', role='button') Enter the ring »