extends layout

block content
	h1 Rules
	dl.dl-horizontal
		dt What?
		dd Be the one with the most points at the end of the week
		dt How?
		dd Win mini-games. Mini-games take up to 5min to play (productivity is my concern). Each mini game gives 10 points for the first place then 9 points and etc... for a minimum of 1 point. Scoreboard is updated only after each game.
		dt When?
		dd Every day you will be challenged to complete 2 games. One at 12:00 and one at 17:00 (sharp). From Monday 27th to Friday 3rd
		dt Who?
		dd The rule of the mini-game will be visible one hour before the start of the mini-game. Games are based on agility or strength or intelligence
		dt Where?
		dd You need to be on the #[a(href="/competition") competition page] at 12:00 and 17:00. The mini-game will automatically load. You can't arrive late. Reloading during the game will kick you out of the game. Make sure to accept notifications to be alerted before a game starts. To accept notifications click #[a.notification_request(style="cursor:pointer") HERE]. If you really don't want to miss a game, please allow to play a siren sound when a game starts: 
			form
				form
					label.radio-inline
						input#alertoff(type='radio', name='alertplay' checked)
						| Off
					label.radio-inline
						input#alerton(type='radio', name='alertplay')
						| On
		dt Which?
		dd Once again don't try to cheat. I have an admin interface this time. Anything external to the current game tab isn't allowed. Chrome is the only certified browser.
