h1 FASTER FASTER FASTER!
row
	.col-md-12.text-nowrap
		#THELOREMTEXT(style='max-height:300px; overflow-x: hidden; font-size:25px;border-left: solid 1px black;white-space: pre;') !{data.lorem}
	.col-md-offset-5.col-md-2.text-center
		form
				.form-group
					label(for='usr') Input:
					input#THELOREMINPUT.form-control(type='text', autocomplete='off')
	.col-md-12.text-center
		#THELOREMALERT.alert.alert-danger(style="display: none;") WRONG!
		#THELOREMCHEAT.alert.alert-danger(style="display: none;") DO NOT TRY TO COPY PASTE!



