dl.dl-horizontal
  dt Skillset
  dd Dexterity
  dt Objective
  dd Type the text on screen (case sensitive) including punctuation (+1/character). You need to type in the input field
  dt Duration
  dd 2 minute
  dt Warning
  dd Wrong character remove points (-0.5/character)