dl.dl-horizontal
	dt Skillset
	dd Intelligence
	dt Objective
	dd Go as deep as possible in this maze by choosing the right direction
	dt Duration
	dd One minute
	dt Warning
	dd Mistakes bring you back to the beginning