h1 It's high noon!
row
	.col-sm-12
		#THECIRCLEBACKGROUND.center-block(style='height:700px;width:700px;border:black 1px solid;position: relative;')
				#THECIRCLE(style="border-radius: 50%; width: 100px;height: 100px;background: #ccc;position:absolute;left:200px;top:250px;")
	.col-sm-12.text-center
		#THECIRCLEALERT.alert.alert-danger(style="display: none;padding:0px; margin-bottom: 0px;") MISSED!
