dl.dl-horizontal
  dt Skillset
  dd Dexterity
  dt Objective
  dd Using the arrows on the keyboard follow the arrow pattern from top to bottom (+1/step)
  dt Duration
  dd 2 minute
  dt Warning
  dd Wrong steps remove points (-0.5/step)