if gamescores !== null
	.row
		h1 Game Score: !{gamescores.name}
		table.table.table-condensed
			thead
				tr
					th Email
					th Game Score
			tbody
					each user in gamescores.scores
							tr
								td= user.email
								td= user.score
