h1 TODOGAMETITLE
include countdown
dl.dl-horizontal
  dt User Agent
  dd An HTML user agent is any device that interprets HTML documents.
  dt Client-side Scripting
  dd
    | Client-side scripting generally refers to the category of computer programs on the web that are executed client-side i.e. by the user's web browser.
  dt Document Tree
  dd The tree of elements encoded in the source document.
