include countdown
.row
	h1 Score
	table.table.table-condensed
		thead
			tr
				th Email
				th User
				th Score
		tbody
			each user in engine.scoreboard
				if user.score > 0
					tr
						td= user.email
						td= user.username
						td= user.score

if engine.lastgamescores !== null
	- var gamescores = engine.lastgamescores
	include gamescore
