dl.dl-horizontal
	dt Skillset
	dd Strength
	dt Objective
	dd This game will test your reaction time. Press the button, it will turn green. When it turns orange, click. Waiting time aren't always the same.
	dt Duration
	dd 3 minutes of trials
	dt Warning
	dd Pressing before orange will be penalized