h1 Where are we?
row
	.col-12.text-center
		#map
		form#THEGEOFORM
			.form-group
				label(for='usr') Answer:
				input#THEGEOINPUT.form-control(type='text')
		#THEGEOALERT.alert.alert-danger(style="display: none;") WRONG!
script.
	var panorama = null;
	function initPano() {
	// Note: constructed panorama objects have visible: true
	// set by default.
	panorama = new google.maps.StreetViewPanorama(
	document.getElementById('map'), {
	position: !{JSON.stringify(data.locations[0][0])},
	addressControlOptions: {
	position: google.maps.ControlPosition.BOTTOM_CENTER
	},
	linksControl: false,
	showRoadLabels: false,
	panControl: false,
	addressControl : false,
	enableCloseButton: false
	});
	}
style.
	/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
	#map {
	height: 600px;
	}
	#map img{
	display:none;
	}

script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyABSjBb-I-HgkJiqyfUG4Pu1fCN5rDZl8A&callback=initPano')
