dl.dl-horizontal
  dt Skillset
  dd Intelligence
  dt Objective
  dd Find the city you've been set in (+1/answer)
  dt Duration
  dd 5 minutes
  dt Warning
  dd Bad answers remove points (-0.1/bad answer)